@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

html {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    color: rgb(236,250,114);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    background: rgba(40,40,40,1);
    font-family: 'Rokkitt', serif;
    color: rgba(30, 30, 30, 1);
}

header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    background: rgba(36,36,36,1);

    text-align: center;
    font-size: 30px;
    line-height: 50px;
    color: #FFF
}

header #menu {
    display: inline;
    position: absolute;
    right: 2%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 70px;
}

header #menu li {
    display: inline-block;
    margin: 0 1em 0 0;
}

header #menu a {
    text-decoration: none;
    color: #FFF;
}

header #menu a:hover {
    color: rgb(236,250,114);
}

header #menu a.active {
    color: rgb(250, 218, 114);
}


footer {
    position: fixed;
    bottom: 0px;
    width: 100%;

    padding: 1%;
    text-align: center;
    color: #FFF;
}

.decal {
    position: fixed;
    width: 100%;
    top: 70px;
    height : 2px;
    background-color: #000;
    border-bottom: 1px solid #333;
}

content {
    flex: 1;
    min-height: 100%;
    padding: 25px;
}

content #title {
    display: block;
    width: 100%;
    margin-bottom: 0px;

    text-align: center;
    color: #FFF;
    font-size: 5em;
    font-weight: 200;
    text-shadow: 0.025em 0.025em 0.025em rgba(0, 0, 0, 0.8);
}

content #subtitle {
    display: block;
    width: 100%;
    margin-top: 0px;

    text-align: center;
    color: #FFF;
    font-size: 2.5em;
    font-weight: 200;
    text-shadow: 0.025em 0.025em 0.025em rgba(0, 0, 0, 0.8);

    -webkit-animation: fade-in 3s; 
    animation: fade-in 3s; 
}

content #news {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 5em;
    height: 10em;
}

content #news li {
    display: inline-block;
    width: 100%;
    margin: 0;
    text-align: center;
    color: #fff;

    -webkit-animation: fade-in 1s; 
    animation: fade-in 1s; 
}

content #news li.hidden {
    display: none;
}

content #news .element {
    display: block;
}

content #news-links {
    display: block;
    height: 25px;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;

}

content #news-links li {
    display: block;
    float: left;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 5px;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: #FFF;
}

content #news-links li.selected{
    background-color: #FFF;
}

content #news-links li:hover{
    cursor: pointer;
    opacity: 0.8;
}

content .page {
    padding-top: 100px;
    display: block;
    margin: 0 auto;
    width: 90%;
}

content .page h1 {
    text-align: center;
    font-size: 3em;
    color: #FFF;
}

content .page .text {
    display: block;
    width: 100%;

    font-size: 2em;
    text-align: center;
    color: #FFF;
}

content .page .text a {
    text-decoration: none;
    color: #FFF;
}


content .page .text a.mail {
}

content .page .text a.mail:hover {
    color: rgb(236,250,114);
}

content .page .info-text {
    width: 100%;
    color: #FFF;
    text-align: center;
    font-size: 1.5em;
}

#schedule {
    display: block;
    width: 100%;
    margin: 0 auto;

    color: #FFF;
}

#schedule ul {
    display: block;
    width: 15%;
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#schedule ul h2 {
    display: block;
    width: 100%;
    height: 1em;
    margin: 0 0 1em 0;
    line-height: 1em;
    text-align: center;
}

#schedule ul li {
    display: block;
    position: relative;
    width: 90%;
    height: 4em;
    padding: 0.1em;
    margin: 0 auto;
    margin-bottom: 4px;

    background-color: rgba(255,255,255,0.1);
    border-style: solid;
    border-width: 2px;
    border-color: #FFF;
}

#schedule ul li .title {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
}

#schedule ul li .time {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#schedule .info {
    margin-left: 1%;
    width: 20%;
}

#schedule .info .title {
    display: block;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}

#schedule .info .description {
    display: block;
    margin-top: 1em;
}

#schedule .info ul {
    width: 100%;
    padding: 1em;
    margin-top: 0em;
    list-style-type: disc;
}

#schedule .info li {
    width: 100%;
    height: auto;
    display: list-item;
    background-color: transparent;
    border-style: none;
}


#schedule .info h3 {
    margin-bottom: 0px;
}

#schedule .info .hint {
    color: rgb(114,191,138);
}

#schedule ul li:hover {
    opacity: 0.5;
    cursor: help;
}

#schedule .orga {
    background-color: rgba(250, 218, 114, 0.7);
    border-color: rgb(250, 218, 114);
}

#schedule .pm {
    background-color: rgba(191,121,114, 0.7);
    border-color: rgb(191,121,114);
}

#schedule .break {
    border-color: rgb(250,250,250);
}

#schedule .work {
    background-color: rgba(250,173,114, 0.7);
    border-color: rgb(250, 173, 114);
}

#schedule .demo {
    background-color: rgba(114,218,250, 0.7);
    border-color: rgb(114, 218, 250);
}

#repositories {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

#repositories a {
    display: block;
    float: left;
    width: 14%;
    margin: 2.5%;
    padding: 0%;
    border-style: solid;
    border-width: 0.2em;
    border-color: rgb(255,255,255);
    position: relative;
    left: 0;
    background-color: rgba(255,255,255,0.1);
}

#repositories li {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    position: absolute;
}

#repositories li .title {
    display: block;
    width: 100%;
    position: absolute;
    top: 5%;
    left: 0;
    text-align: center;
    font-size: 1.5em;
    color: rgb(250, 218, 114);
}

#repositories li .user {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 0.9em;
    bottom: 2px;
    left: 0px;
}

#repositories li .label {
    display: block;
    font-size: 0.4em;
    margin-top: 0;
    color: rgb(114,191,138);
}

#repositories li .loc {
    display: block;
    width: 100%;
    position: absolute;
    top: 30%;
    left: 0px;
    text-align: center;
    font-size: 3em;
}


#repositories li .stats {
    display: block;
    width: 30%;
    position: absolute;
    top: 75%;
    text-align: center;
    font-size: 2em;
}

#repositories li .files {
    left: 15%;
}   


#repositories li .commits {
    right: 15%;
}

#repositories li:hover {
    color: #FFF;
    border-color: rgb(250, 218, 114);
}

#repositories .flip-container {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(180deg);
}


#repositories .flipper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserver-3d;
    transform-style: preserve-3d;
    position: relative;
}

#repositories .front, .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

#repositories .front {
    z-index: 2;
    transform: rotateY(0deg);
}

#repositories .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(180deg);
}

#repositories .back .graph {
    display: block;
    position: absolute;
    top: 25%;
    left: 5%;
    width: 90%;
    height: 70%;
    margin: 0;
}

#links {
    display: block;
    width: 100%;
    margin: 0 auto;
    color: #FFF;
    font-size: 1.4em;
}

#links .description {

}

#links .url {
    margin-left: 1em;
    text-decoration: underline;
}

.font-highlight-green {
    color: rgb(114,191,138);
}

.font-highlight-red {
    color: rgb(191,121,114);
}

.font-highlight-orange {
    color: rgb(250, 173, 114);
}
