<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>MME Dashboard</title>
    <link rel="stylesheet" href="res/css/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
</head>

<body>

    <header>
        <ul id="menu">
        </ul>
    </header>

    <div class="decal"></div>

    <content>
        <div id="title-page" class="page">
            <p id="title"><span class="font-highlight-green">[MME]</span> Multimedia Engineering</p>
            <p id="subtitle">Dashboard für das Blockpraktikum: <span class="font-highlight-red">27. bis 31. Juli</span> in VG 0.09</p>
            <ul id="news">
            </ul>
            <ul id="news-links">
            </ul>
          
        </div>

         <div id="schedule-page" class="page">
        <h1>Zeitplan</h1>
        <div id="schedule">
        <ul class="day monday">
        <h2>Montag</h2>
        </ul>
        <ul class="day  tuesday">   
        <h2>Dienstag</h2>
        </ul>
        <ul class="day wednesday">
        <h2>Mittwoch</h2>
        </ul>
        <ul class="day thursday">
        <h2>Donnerstag</h2>
        </ul>
        <ul class="day friday">
        <h2>Freitag</h2>
        </ul>
        <ul class="info">
        <span class="title"></span>
        <span class="description"></span>
        </ul>
        </div>
        </div>

         <div id="repository-page" class="page">
        <h1>Repositories</h1>
        <ul id="repositories">
        </ul>


        </div>

         <div id="links-page" class="page">
        <h1>Links</h1>
        <ul id="links">
        <li><span class="description">GRIPS-Kurs</span><a href="https://elearning.uni-regensburg.de/course/view.php?id=20516" class="url" target="_new">https://elearning.uni-regensburg.de/course/view.php?id=20516</a></span></li>
        </ul>
        </div>

        <div id="about-page" class="page">
        <h1>About</h1>
        <p class="info-text">Diese Seite dient als Übersicht über Informationen für das Blockpraktikum zum Kurs "Multimedia Engineering" im Sommersemester 2015. Bei Fragen richten Sie sich bitte an <a href="mailto:alexander.bazo@ur.de">Alexander Bazo &#60;alexander.bazo@ur.de&#62;</a></p>        
        </div>

    </content>

    <footer>
    Universität Regensburg | <a href="http://mi.ur.de" target="_new">Lehrstuhl für Medieninformatik</a>
    </footer>

    <script src="js/libs/velocity.min.js"></script>
    <script src="js/libs/d3.min.js"></script>
    <script src="js/libs/rickshaw.min.js"></script>
    <script src="js/libs/dashboard.js"></script>
    

    <script id ="newsTemplate" type="text/template">
    <li id="news-{{id}}" class="news-box">
        <span class="date element">{{date}}</span>
        <span class="text element">{{text}}</span>
    </li>
    </script>

    <script id ="dayTemplate" type="text/template">
        <li class="{{type}}" description="{{description}}" title="{{title}}">
            <span class="title">{{title}}</span>
            <span class="time">{{time}}</span>
        </li>"
    </script>

    <script id ="repositoryTemplate" type="text/template">
        <a href="{{url}}" target="_new" class="flip-container">
            <div class="flipper">
                <li class="front">
                    <span class="title">{{title}}</span>
                    <span class="loc">{{linesOfCode}}
                        <span class="label">Lines of Code</span>
                    </span>
                    <span class="files stats">{{numberOfFiles}}
                        <span class="label">Files</span>
                    </span>
                    <span class="commits stats">{{numberOfCommits}}
                        <span class="label">Commits</span>
                    </span>
                    </li>
                <li class="back">
                    <span class="title">Commits</span>
                    <span class="graph"></span>   
                </li>
            </div>
        </a>
    </script>

    <script id ="hoverTemplate" type="text/template">
        <div class="hover-detail" style="display: block; position: fixed; top: {{yPos}}px; left:{{xPos}}px">
            <span class="author">{{author}}</span>
            <span class="message">{{message}}</span>
        </div>
    </script>



    <script>
        /* eslint-disable */
        App.Dashboard.init();
        /* eslint-enable */
    </script>

</body>

</html>
